<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>registration Form</h1>
    <form name="registrationForm" method="post" action="loginServlet">
        Username: <input type="text" name="username"/> <br/>
        <br>please enter up to 3 twits to follow<br><br/>
        twit#1: <input type="text" name="twit#1"/> <br/><br/>
        twit#2: <input type="text" name="twit#2"/> <br/><br/>
        twit#3: <input type="text" name="twit#3"/> <br/><br/>
        <input type="submit" value="Login" />
    </form>
</body>
</html>
